{% extends 'base.html' %}

{% load static %}

{% block title %}DIEMP - Cadastro de empresas{% endblock title %}

{% block style %}
<link href="{% static 'css/form.css' %}" rel="stylesheet" />
{% endblock style %}

{% block content %}
<!-- INSCRIÇÃO -->
<div class="row div-empresa">
    <div class="container">
        <h2>Empresa</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3><strong>Cadastro</strong></h3>
            <form action="." method="POST">
                {% csrf_token %}
                <div>
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    <br />
                    {{ form.name.errors }}
                    {{ form.name }}
                </div>
                <div>
                    <label for="{{ form.cnpj.id_for_label }}">{{ form.cnpj.label }}</label>
                    <br />
                    {{ form.cnpj.errors }}
                    {{ form.cnpj }}
                </div>
                <div>
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <br />
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div>
                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    <br />
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>
                  <div>
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    <br />
                    {{ form.password.errors }}
                    {{ form.password }}
                </div>
                <div>
                    <label for="{{ form.confpassword.id_for_label }}">{{ form.confpassword.label }}</label>
                    <br />
                    {{ form.confpassword.errors }}
                    {{ form.confpassword }}
                </div>
                <input type="submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
    </div>
</div>
<!-- INSCRIÇÃO -->
{% endblock content %}