{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock style %}

{% block content %}
<!-- ALUNO -->
<!--<div class="row div-aluno">
    <div class="container">
        <h2>Aluno</h2>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a class="center-block border">
                <h3 class="text-center"><strong>Vagas de estágio</strong></h3>
                <img src="{% static 'img/vagas.png' %}" class="img-responsive center-block" alt="Buscar vagas de estágio" />
                <p class="text-center">Encontre vagas de estágio, nas empresas conveniadas ao CEFET.</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a class="center-block border">
                <h3 class="text-center"><strong>Cadastro de alunos</strong></h3>
                <img src="{% static 'img/cad-aluno.png' %}" class="img-responsive center-block" alt="Cadastro de aluno" />
                <p class="text-center">Cadastre-se para se candidatar a vaga de estágio.</p>
            </a>
        </div>
    </div>
</div>-->
<!-- ALUNO -->

<!-- EMPRESA -->
<!--<div class="row div-empresa">
    <div class="container">
        <h2>Empresa</h2>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a class="center-block border">
                <h3 class="text-center"><strong>Cadastro de vagas</strong></h3>
                <img src="{% static 'img/cad-vagas.png' %}" class="img-responsive center-block" alt="Cadastro de vagas" />
                <p class="text-center">Cadastre as vagas de estágio em sua empresa.</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a class="center-block border" href="/empresa/">
                <h3 class="text-center"><strong>Cadastro de empresas</strong></h3>
                <img src="{% static 'img/cad-empresa.png' %}" class="img-responsive center-block" alt="Cadastro de empresa" />
                <p class="text-center">Cadastre-se para oferecer vagas de estágio.</p>
            </a>
        </div>
    </div>
</div>-->
<!-- EMPRESA -->
{% endblock content %}